@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: theme('fontFamily.sans');
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100dvh;
}

#root {
  width: 100%;
  height: 100%;
}

@layer components {
  .banner-h1 {
    @apply text-[8rem] font-bold leading-[9.5rem] text-common-white;
  }

  .section-h1 {
    @apply text-[7rem] font-bold leading-[8.3rem] text-common-black;
  }
}
