@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Pretendard Variable', 'Pretendard';
}

body {
  width: 100%;
  height: 100dvh;
}

#root {
  width: 100%;
  height: 100%;
}

@layer base {
  @screen desktop {
    html {
      font-size: 62.5%;
    }
  }
  @screen tablet {
    html {
      font-size: 55%;
    }
  }
  @screen mobile {
    html {
      font-size: 45%;
    }
  }

  .title {
    @apply text-[7rem] tablet:text-[4.5rem] mobile:text-[3rem];
  }
  .title-16 {
    @apply text-[1.6rem] tablet:text-[1.4rem] mobile:text-[1.2rem];
  }
  .title-20 {
    @apply text-[2rem] tablet:text-[1.6rem] mobile:text-[1.2rem];
  }
  .title-26 {
    @apply text-[2.6rem] tablet:text-[2rem] mobile:text-[1.4rem];
  }
  .title-28 {
    @apply text-[2.8rem] tablet:text-[2.4rem] mobile:text-[1.6rem];
  }
  .title-30 {
    @apply text-[3rem] tablet:text-[2rem] mobile:text-[1.8rem];
  }
  .title-32 {
    @apply text-[3.2rem] tablet:text-[2.8rem] mobile:text-[2rem];
  }
  .title-40 {
    @apply text-[4rem] tablet:text-[3.5rem] mobile:text-[2.4rem];
  }
  .title-50 {
    @apply text-[5rem] tablet:text-[4rem] mobile:text-[2.6rem];
  }
  .body {
    @apply text-[2rem] tablet:text-[1.6rem] mobile:text-[1.2rem];
  }
  .body-20 {
    @apply text-[2rem] tablet:text-[1.4rem] mobile-text-[1.2rem];
  }

  /* .title {
    @apply text-[7rem];
  }
  .title-16 {
    @apply text-[1.6rem];
  }
  .title-20 {
    @apply text-[2rem];
  }
  .title-26 {
    @apply text-[2.6rem];
  }
  .title-28 {
    @apply text-[2.8rem];
  }
  .title-30 {
    @apply text-[3rem];
  }
  .title-32 {
    @apply text-[3.2rem];
  }
  .title-40 {
    @apply text-[4rem];
  }
  .title-50 {
    @apply text-[5rem];
  }
  .body {
    @apply text-[2rem];
  }
  .body-20 {
    @apply text-[2rem];
  } */
}

@layer components {
  .banner-h1 {
    @apply text-[8rem] font-bold leading-[9.5rem] text-common-white;
  }

  .section-title {
    @apply text-[7rem] font-bold leading-[8.3rem] text-common-black;
  }
  .section-description {
    @apply mt-12 text-[2rem] font-normal leading-[3rem] text-common-black;
  }
}
